<footer>
  <div class="container">
    <h2>Contactez-Nous</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" rows="4"></textarea>
        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
          Message is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button style="background-color: burlywood;width: 50%" type="submit" [disabled]="contactForm.invalid">Send</button>
    </form>
  </div>


  <mat-toolbar>
    <span class='spacer'></span>
    <h3>© Hello Event.</h3>
    <span class='spacer'></span>
  </mat-toolbar>

</footer>
