<button (click)="openConfirmDelete()" class="btn btn-danger btn-sm">Fermer compte</button>



<div class="container">
  <form id="addBeneficiaireForm" (ngSubmit)="ajouterBeneficiaire()" #addBeneficiaire="ngForm">
    <div class="form-group">
      <label for="accountNumber">Numéro de Compte du beneficiaire</label>
      <input type="text" id="accountNumber" name="accountNumber" class="form-control" [(ngModel)]="numeroCompteBeneficiaire" required />
    </div>
    <div class="form-group" *ngIf="message" class="succes-message fw-bold" style="color: green;">
      {{message}}
    </div>
    <button type="submit" class="btn btn-primary" >Ajouter</button>
  </form>
</div>
<div class="mt-4">
  <h4>Liste des Bénéficiaires</h4>
  <ul class="list-group">
    <li *ngFor="let beneficiare of beneficiaries" class="list-group-item d-flex justify-content-between align-items-center">
      {{ beneficiare.numeroCompteBeneficiaire }}
      <button class="btn btn-danger btn-sm" (click)="supprimerBeneficiaire(beneficiare.numeroCompteBeneficiaire)">Supprimer</button>
    </li>
  </ul>
</div>


<div class="card-container">
  <div class="card" *ngFor="let carte of cartes">
    <div *ngIf="!carte.estBloque">
    <div class="card-header">
      <h3>{{ carte.numeroCarte }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Type de carte:</strong> {{ carte.typeCarte }}</p>
      <p *ngIf="carte.etat">
        <strong>État du carte:</strong>
        <span [ngStyle]="{ color: carte.etat === 'activer' ? 'green' : 'red' }">
          {{ carte.etat }}
        </span>
      </p>
      <button *ngIf="carte.numeroCarte" (click)="ouvrirModal(carte.numeroCarte)">Se connecter</button>
      <button (click)="changeEtat(carte)" style="background-color: antiquewhite">
        {{ carte.etat === 'activer' ? 'Désactiver' : 'Activer' }}
      </button>
      <button *ngIf="carte.numeroCarte" (click)="ouvrirModalBlocage(carte.numeroCarte)">Bloquer</button>
    </div>
    </div>
  </div>
</div>
<app-form-bloquage-cart
  *ngIf="showModalBlocage"
  [numeroCarte]="selectedNumeroCarte"
  [message]="messageBloquageCart"
  (onClose)="showModalBlocage = false"
  (onBloquer)="bloquerCarte($event)">
</app-form-bloquage-cart>

<app-login-cart
  *ngIf="showModal"
  [numeroCarte]="selectedNumeroCarte"
  [message]="messageConnectCart"
  (onClose)="showModal = false"
  (onLogin)="seConnecter($event)">
</app-login-cart>

<div class="carte-page">
  <h2>Créer une nouvelle carte</h2>
  <form (ngSubmit)="creerCarte()">
    <div class="form-group">
      <label for="typeCarte">Type de carte</label>
      <select id="typeCarte" [(ngModel)]="typeCarteAdd" name="typeCarte" required>
        <option value="" disabled selected>Sélectionnez un type du carte</option>
        <option *ngFor="let type of typesDeCarte" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="messageAjoutCart" class="succes-message fw-bold" style="color:royalblue;">
      {{messageAjoutCart}}
    </div>
    <button type="submit">Créer</button>
  </form>
</div>
