<mat-toolbar class="custom-toolbar" style="background-color: white">
  <div class="nav-content">
    <a mat-button routerLink="/"><img style="width: 120px" src="./assets/pictures/Hello%20Events.png"></a>
    <a mat-button routerLink="/aPropos">à propos</a>
    <div *ngIf="!isLoggedIn">
      <a mat-button routerLink="/logIn">Se connecter</a>
      <a mat-button routerLink="/signUp">S'inscrire</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button (click)="logout()">Se déconnecter</a>
    </div>
  </div>
</mat-toolbar>
