<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Connexion</h3>
        </div>
        <div class="card-body">
          <form id="loginForm" (ngSubmit)="logInCompte()" #loginCompte="ngForm">
            <div class="form-group">
              <label for="numeroCompte">Numéro de Compte</label>
              <input type="text" class="form-control" id="numeroCompte" name="numeroCompte" placeholder="Entrez votre numéro de compte" [(ngModel)]="numeroCompte" required>
            </div>
            <div class="form-group">
              <label for="motDePasse">Mot de Passe</label>
              <input type="password" class="form-control" id="motDePasse" name="motDePasse" placeholder="Entrez votre mot de passe" [(ngModel)]="motDePass"  required>
            </div>
            <div *ngIf="errorMessage" class="error-message fw-bold" style="color: red;">
              {{ errorMessage }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
